# Entornos y dependencias
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# VSCode
.vscode/

# Archivos sensibles
.env
*.env
.env.*

# Datos generados
data/
storage/
*.log

# Playwright artifacts
playwright-report/
test-results/
